@model RentAndDrive.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    

    <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-danger">
            <h3 class="modal-title">Alterar a Senha</h3>
        </div>
        <div class="card-body">
            <div class="form-group col-xs-6 col-md-6 col-lg-6">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete = "new-email" })
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-6 col-lg-6">
                @Html.Label("Senha Actual", new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @autocomplete = "new-password" })
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-6 col-lg-6">
                @Html.Label("Nova Senha", new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autocomplete = "new-password" })
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-6 col-lg-6">
                @Html.Label("Confirme a Senha", new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="card-footer bg-light">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-sm btn-outline-success" value="Salvar" />
                    <input type="button" class="btn btn-sm btn-outline-danger" value="Cancelar" onclick="@Url.Action("Dashboard","Home")" />
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
