@model IEnumerable<RentAndDrive.Models.Viaturas.Mdl.VwViatura>
@{
    ViewBag.Title = "Viaturas Atribuidas";

    var sucesso = TempData["sucesso"] as string;
    var falha = TempData["falha"] as string;

    var nomeMotorista = TempData["Motorista"] as string;
    TempData["Motorista"] = nomeMotorista;
    var idMotorista = TempData["Id"] as string;
}

<script type="text/javascript">

    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            paginate: true,
            autoWidth: false,
            select: true,
            //Necessario desativar o scrollX e scrollY para acertar o header com o body.
            //scrollResize: true,
            //scrollY: 300
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Procurar ...",
            }
        });

        $('#dataTable tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">Motoristas</a></li>
        <li class="breadcrumb-item"><a href="#">Consultar Viaturas</a></li>
    </ol>
</nav>

@if (sucesso != null)
{
    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">@sucesso</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="zmdi zmdi-close-circle"></i>
            </span>
        </button>
    </div>
}
@if (falha != null)
{
    <div class="alert alert-danger" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">@falha</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="zmdi zmdi-close-circle"></i>
            </span>
        </button>
    </div>
}

<div class="card mb-4">
    <div class="card mb-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Lista de Viaturas Atribu&iacute;das ao Motorista - @nomeMotorista
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="dataTable" style="width:100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th style="font-size:10px; font:bold">
                                @Html.DisplayName("Matrícula")
                            </th>
                            <th style="font-size:10px; font:bold">
                                @Html.DisplayName("Cor")
                            </th>
                            <th style="font-size:10px; font:bold">
                                @Html.DisplayName("Marca")
                            </th>
                            <th style="font-size:10px; font:bold">
                                @Html.DisplayName("Modelo")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td style="font-size:12px;">
                                    @Html.DisplayFor(modelItem => item.matricula)
                                </td>
                                <td style="font-size:12px;">
                                    @Html.DisplayFor(modelItem => item.cor)
                                </td>
                                <td style="font-size:12px;">
                                    @Html.DisplayFor(modelItem => item.marca)
                                </td>
                                <td style="font-size:12px;">
                                    @Html.DisplayFor(modelItem => item.modelo)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <center>

                @* REMOVER *@
                <span class="text-light" style="float: right">  | </span>
                <a href="@Url.Action(actionName: "RemoverViaturas", controllerName: "Motoristas", routeValues: new { id = idMotorista })"
                   style="float: right" title="Editar"
                   class="btn btn-sm btn-outline-secondary">
                    Remover
                </a>

                @* ADICIONAR *@
                <span class="text-light" style="float: right">  | </span>
                <a href="@Url.Action(actionName: "AtribuirViaturas", controllerName: "Motoristas", routeValues: new { id = idMotorista })"
                   style="float: right" title="Editar Cliente"
                   class="btn btn-sm btn-outline-primary">
                    Adicionar
                </a>
            </center>
        </div>
    </div>
</div>



