
@{
    ViewBag.Title = "Dashboard";
    var tIn = TempData["Ini"] as string;
    var tEnd = TempData["End"] as string;
    var sucesso = TempData["sucesso"] as string;
    var falha = TempData["falha"] as string;
}

@if (sucesso != null)
{
    <div class="alert alert-success fade show" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">@sucesso</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="zmdi zmdi-close-circle"></i>
            </span>
        </button>
    </div>
}
@if (falha != null)
{
    <div class="alert alert-danger fade show" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">@falha</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="zmdi zmdi-close-circle"></i>
            </span>
        </button>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">
                    Visão geral
                </h2>
            </div>
        </div>
    </div>
    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.TotalUsers</h2>
                            <span>Utilizadores</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.TotalRent</h2>
                            <span>Alugueres</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-calendar-note"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.PendingRent</h2>
                            <span>Pendentes</span>
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="text">
                            <h2>@ViewBag.Earnings</h2>
                            <span>Total Ganho</span>
                        </div>
                        <div class="icon">
                            Mt
                        </div>
                    </div>
                    <div class="overview-chart">
                        <canvas id="widgetChart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--<div class="row">
        <div class="col-lg-12">
            <div class="overview-wrap">
                <h2 class="title-1 m-b-25">Earnings By Items</h2>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>add item
                </button>
            </div>
            <div class="overview-wrap">
                <div class="col-4">
                    <label for="cc-in" class="control-label mb-1">Data In&iacute;cio</label>
                    <input id="cc-in" name="cc-in" type="date" class="form-control" aria-required="true" aria-invalid="false" style="min-width:200px;" value="@tIn">
                </div>
                <div class="col-4">
                    <label for="cc-end" class="control-label mb-1">Data Fim</label>
                    <input id="cc-end" name="cc-end" type="date" class="form-control" aria-required="true" aria-invalid="false" style="min-width:200px;" value="@tEnd">
                </div>
                <div class="col-4">-->
                    @*<label for="cc-filter" class="control-label mb-1"></label>*@
                    <!--<button class="au-btn-filter mt-4">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
            </div>
            <br />
            
        </div>

    </div>-->
    
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © @DateTime.Now.Year. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>

