
@{
    ViewBag.Title = "Dashboard";
    var tIn = TempData["Ini"] as string;
    var tEnd = TempData["End"] as string;
    var sucesso = TempData["sucesso"] as string;
    var falha = TempData["falha"] as string;
}

@if (sucesso != null)
{
    <div class="alert alert-success fade show" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">@sucesso</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="zmdi zmdi-close-circle"></i>
            </span>
        </button>
    </div>
}
@if (falha != null)
{
    <div class="alert alert-danger fade show" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">@falha</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="zmdi zmdi-close-circle"></i>
            </span>
        </button>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">
                    Visão geral
                </h2>
            </div>
        </div>
    </div>

    <div class="row m-t-25">
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="text">
                            <h2>@ViewBag.ViaturasDispon</h2>
                            <span>Viaturas Dispon&iacute;veis</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-male-female"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.Motoristas</h2>
                            <span>Motoristas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="text">
                            <h2>@ViewBag.TotalAluguer</h2>
                            <span>Aluguer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                    <div class="overview-box clearfix">
                        <div class="icon">
                            <i class="zmdi zmdi-book"></i>
                        </div>
                        <div class="text">
                            <h2>@ViewBag.TotalReserva</h2>
                            <span>Reservas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © @DateTime.Now.Year. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>

