@model  RentAndDrive.Models.Pessoas.Mdl.Funcionario.VwFuncionarioResumo
@{
    ViewBag.Title = "EliminarFuncionario";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Utilizadores e Funcion&aacute;rios</li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Funcionarios")">Funcion&aacute;rios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
    </ol>
</nav>

@using (Html.BeginForm("EliminarFuncionario", "Funcionarios", FormMethod.Post))
{
    <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-danger">
            <h3 class="modal-title">Eliminar Funcion&aacute;rio</h3>
        </div>
        <div class="card-body">
            @Html.AntiForgeryToken()
            <div class="container-fluid">
                <h5>
                    Tem certeza que deseja eliminar o funcion&aacute;rio com o nome: <strong> @Model.nome</strong>?
                </h5>
                <div class="text-center">
                    <small style="width:100%; font-size: 16px;"><b> Atenção: </b>Ao confirmar, estará a eliminar definitivamente o registro deste funcion&aacute;rio.</small>
                </div>
                @Html.HiddenFor(model => model.id)
            </div>
        </div>
        <div class="card-footer bg-light">
            <a href="@Url.Action("Index","Funcionarios")" class="btn btn-danger">N&atilde;o</a>
            <button type="submit" class="btn btn-success">Sim</button>
        </div>
    </div>
}


